@mixin column-alCenter($justify) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $justify;
}

@mixin row-alCenter($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}